# Include any files or directories that you don't want to be copied to your
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/

**/.classpath
**/.dockerignore
**/.env
**/.env.*
**/.git
**/.gitignore
**/.gitattributes
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/.next
**/.cache
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/*.y*ml
**/*.yml
!**/composer.json
!**/composer.lock
**/Dockerfile*
**/*.log
**/obj
**/vendor
**/node_modules
**/*.swp
**/*.swo
**/.DS_Store
**/.editorconfig
**/LICENSE
**/README.md
**/*.pem
**/*.key

# Compiled frontend assets (Docker builds these in Stage 1)
/public/build/
/public/hot

# Database dumps
**/*.sql
**/*.dump

# Ignore development-related files and directories
# For development environment, we will use mount bind to mount the source code to the container
# So we don't need to copy the source code to the container for development
**/tests/
**/phpunit.xml
**/phpunit.xml.dist
